@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override base SVG style to work with Ant Design if using external icon sets */
svg {
  vertical-align: initial;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
